
$headline-font: 'Graduate';
$h2-font: 'Arvo';


body {
    font-family: 'Open Sans';
    line-height: 1.4em;
    font-size: 1em;
    background: #FFF;
    color: white;
    letter-spacing: 1px;
}

h1 { font-size: 4em;  }
h2 { font-size: 1.5em; font-family: 'Arvo' }
h3 { font-size: 1.17em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
h1, h2, h3, h4,
h5, h6 {
  font-weight: bolder
}

p {
  line-height: 1.4em;
  margin-bottom: 1em;
}

a {
  color: white;
  // text-decoration: none;
  border: none;
}

a:hover {
  text-decoration: underline;
}
